### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
dist
node_modules
public/server
public/server.log
errors.log
build/
dist-electron/
coverage/
*.tsbuildinfo
